/* html, body {
  position: relative;
  height: 100%;
} */
#section2{
  background-color: #A984FF;
}
.swiper {
  width: 100%;
  height: 80rem;
}

.swiper-slide {
  text-align: center;
  background: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide:nth-child(1){background: url(../image/story1.jpg)no-repeat center/cover;}
.swiper-slide:nth-child(2){background: url(../image/story2.jpg)no-repeat center/cover;}
.swiper-slide:nth-child(3){background: url(../image/story3.jpg)no-repeat center/cover;}